$window-padding-left-right: 20px;
$window-padding-top-bottom: 10px;
$window-width: 400px;
$icon-size: 30px;

// Overwriting #wpadminbar * {} styling
#wpadminbar {
	
	// Primary wrapper element for the notifications dropdown.
	// All child element will have the .sn prefix
	.sweet-notifications {
		background-color: white;
		padding: 0;
		border: 1px solid #ddd;
		box-shadow: 0 2px 3px rgba(black, 0.1);
		margin-top: 10px;
	
		// Some positioning :)
		position: absolute;
		right: 20px;

		// Sizings
		min-width: $window-width;
		width: 100%;
	}

	.sn .dashicons {
		font-family: dashicons;
	}

	.sn-footer {
		padding: $window-padding-top-bottom $window-padding-left-right;
		background-color: #fefefe;
		border-top: 1px solid #ddd;

		// Keep the buttons on the right side
		text-align: right;

		.button {
			padding-left: 0.5em;
			padding-right: 0.5em;
			border-radius: 3px;
			display: inline-block;
		}

		.sn-close-all {
			margin-left: 10px;
		}

		.sn-close-window {
			background: none;
			border: none;
			box-shadow: none;
		}

	}

	.sn-notification {
		display: table;
		padding: $window-padding-top-bottom * 2 $window-padding-left-right;
		position: relative;
		width: 100%;
		box-sizing: border-box;
		border-bottom: 1px solid #f0f0f0;

		&:last-of-type {
			border-bottom: none;
		}

		&.sw-type-success {
			.sn-notification-icon {	background: #7BC74D; }
		}

		&.sw-type-notice {
			.sn-notification-icon {	background: #6078EA; }
		}

		&.sw-type-warning {
			.sn-notification-icon {	background: #F6C90E; }
		}

		&.sw-type-error {
			.sn-notification-icon {	background: #DA4949; }
		}
	}

	// Notification icon
	.sn-notification-icon-wrapper {
		display: table-cell;
		width: 40px;
		padding-right: 20px;
		vertical-align: top;
	}

	.sn-notification-icon {
		height: $icon-size;
		width: $icon-size;
		line-height: $icon-size;
		padding: 10px;
		display: inline-block;
		text-align: center;
		border-radius: 50%;

		.dashicons {
			font-size: $icon-size;
			color: white;
		}

	}

	// Notification content
	.sn-notification-body {
		display: table-cell;
		vertical-align: top;

		// Give some spacing for the close button.
		padding-right: 20px;
	}

	.sn-notification-title {
		color: black;
		font-weight: bold;
		font-size: 16px;
		line-height: 1.3;
		margin-bottom: 5px;
	}

	.sn-notification-message {
		color: #72777c;
		line-height: 1.3;
	}

	.sn-delete-notification {
		position: absolute;
		right: $window-padding-left-right;
		top: $window-padding-top-bottom;
		color: #ccc;
		font-family: dashicons;
		font-size: 16px;
		pointer: cursor;

		&:hover {
			color: #333;
		}
	}

}
